simplified_ui true

pane_frames false

pane_viewport_serialization true

keybinds {
  normal clear-defaults=true {
    unbind "Ctrl b"
    bind "Alt m" { SwitchToMode "tmux"; }
    bind "Alt l" { SwitchToMode "locked"; }
    bind "Alt x" "Esc" { CloseFocus; SwitchToMode "Normal"; }
    bind "Alt n" { NewPane; }
    bind "Alt t" { NewTab; }
    bind "Alt Left" { MoveFocus "Left"; }
    bind "Alt Right" { MoveFocus "Right"; }
    bind "Alt Down" { MoveFocus "Down"; }
    bind "Alt Up" { MoveFocus "Up"; }
    bind "Alt [" { GoToNextTab; }
    bind "Alt ]" { GoToPreviousTab; }
    bind "Alt =" "Alt +" { Resize "Increase"; } // zellij wasn't recoginizing `+` so I had to use `=`
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt ," { NextSwapLayout; }
  }
  tmux clear-defaults=true {
    bind "Alt m" "Esc" { Write 2; SwitchToMode "normal"; }
    bind "l" { SwitchToMode "locked"; }
    bind "p" { SwitchToMode "pane"; }
    bind "t" { SwitchToMode "tab"; }
    bind "r" { SwitchToMode "resize"; }
    bind "m" { SwitchToMode "move"; }
    bind "s" { SwitchToMode "scroll"; }
    bind "o" { SwitchToMode "session"; }
    bind "%" { NewPane "Right"; SwitchToMode "normal"; }
    bind "\"" { NewPane "Down"; SwitchToMode "normal"; }
  }
}
